FRONTEND_PORT=25173
BACKEND_PORT=28000

APP_NAME=Yuelin Official Site API
APP_ENV=production

POSTGRES_DB=yuelin_site
POSTGRES_USER=yuelin_prod
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+psycopg://yuelin_prod:change_me@db:5432/yuelin_site

VITE_API_BASE_URL=http://89.144.47.236:28000
CORS_ORIGINS=["http://89.144.47.236:25173"]
